<link rel="stylesheet" href="/styles/stylesHome/icons.css">
<div class="p-5" style="height: 100vh">
    <div class="row gx-4 gy-3">
        <div class="col-12 col-md-4">
            <div class="card border border-2 border-secondary shadow">
                <div class="card-body">
                    <img src="/imgs/icons/iconMoney.svg" class="iconsAnalitics card-img-top">
                    <div class="card-title mt-2 textCardsHome">
                        Ventas del mes
                    </div> 
                    <div class="card-text">
                        <p class="textSales mb-0">
                            S/ 0.00
                        </p>
                        <p class="mb-1">
                            Monto facturas de ventas
                        </p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card border border-2  border-secondary shadow">
                <div class="card-body">
                    <img src="/imgs/icons/iconMoney.svg" class="iconsAnalitics card-img-top">
                    <div class="card-title mt-2 textCardsHome">
                        Ventas de hoy
                    </div> 
                    <div class="card-text">
                        <p class="textSales mb-0">
                            S/ 0.00
                        </p>
                        <p class="mb-1">
                            Monto facturas de ventas
                        </p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card border border-2  border-secondary shadow">
                <div class="card-body">
                    <img src="/imgs/icons/iconMoney.svg" class="iconsAnalitics card-img-top">
                    <div class="card-title mt-2 textCardsHome">
                        Ventas del hoy
                    </div> 
                    <div class="card-text">
                        <p class="textSales mb-0">
                            S/ 0.00
                        </p>
                        <p class="mb-1">
                            Monto igv
                        </p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>