<link rel="stylesheet" href="/styles/stylesHome/icons.css">
<div class="p-5" style="height: 100vh; overflow-y:scroll">
    <div class="row gx-4 gy-3">
        <div class="col-12 col-md-4">
            <div class="card border border-2 border-secondary shadow">
                <div class="card-body">
                    <img src="/imgs/icons/iconMoney.svg" class="iconsAnalitics card-img-top">
                    <div class="card-title mt-2 textCardsHome">
                        Ventas del mes
                    </div> 
                    <div class="card-text">
                        <p class="textSales mb-0">
                            S/ 0.00
                        </p>
                        <p class="mb-1">
                            Monto facturas de ventas
                        </p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card border border-2  border-secondary shadow">
                <div class="card-body">
                    <img src="/imgs/icons/iconMoney.svg" class="iconsAnalitics card-img-top">
                    <div class="card-title mt-2 textCardsHome">
                        Ventas de hoy
                    </div> 
                    <div class="card-text">
                        <p class="textSales mb-0">
                            S/ 0.00
                        </p>
                        <p class="mb-1">
                            Monto facturas de ventas
                        </p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card border border-2  border-secondary shadow">
                <div class="card-body">
                    <img src="/imgs/icons/iconMoney.svg" class="iconsAnalitics card-img-top">
                    <div class="card-title mt-2 textCardsHome">
                        Ventas del hoy
                    </div> 
                    <div class="card-text">
                        <p class="textSales mb-0">
                            S/ 0.00
                        </p>
                        <p class="mb-1">
                            Monto igv
                        </p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <canvas id="myChart" class="col"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Enero','Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      datasets: [{
        label: 'Gráfica de:',
        data: [12, 19, 3, 5, 2, 3,12,20,1,2,7,11],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
</div>