<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row g-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col">
            <div class="card bg-white">
                Gestion de inventario y stock
            </div>
        </div>
        <div class="col">
            <div class="card bg-white">
                Control de caja
            </div>            
        </div>
        <div class="col">
            <div class="card bg-white">
                Ingresos y gastos
            </div>
        </div>
        <div class="col">
            <div class="card bg-white">
                Emisión de facturas
            </div>
        </div>
        <div class="col">
            <div class="card bg-white">
                Gestión de clientes
            </div>
        </div>
        <div class="col">
            <a href="/createUsers" class="card bg-white text-center">
                Agregar trabajador
            </a>
        </div>
        <div class="col">
            <a href="/logout" class="card bg-danger text-center">
                Cerrar sesión
            </a>
        </div>
    </div>
</div>