<div class="container-fluid d-flex justify-content-center align-items-center row" style="height: 100vh;">
    <div class="text-center companyName">Nombre de la empresa</div>
    <div class="row g-3 row-cols-1 row-cols-md-2 row-cols-lg-3 p-5">
        <div class="col">
            <a href="#" class="card btnMenu">
                <div class="w-100 h-100 row ps-3 d-flex align-items-center">
                    <img src="/imgs/icons/peines.png" alt="imagen" class="imgIcons">
                    <div class="col d-flex justify-content-center align-items-center fs-3 text-center">
                        Gestion de inventario y stock
                    </div>
                </div>
            </a>            
        </div>
        <div class="col">
            <a href="#" class="card btnMenu">
                <div class="w-100 h-100 row ps-3 d-flex align-items-center">
                    <img src="/imgs/icons/cajaRegistradora.png" alt="imagen" class="imgIcons">
                    <div class="col d-flex justify-content-center align-items-center fs-3">
                        Control de caja
                    </div>
                </div>
            </a>            
        </div>
        <div class="col">
            <a href="#" class="card btnMenu">
                <div class="w-100 h-100 row ps-3 d-flex align-items-center">
                    <img src="/imgs/icons/monedas.png" alt="imagen" class="imgIcons">
                    <div class="col d-flex justify-content-center align-items-center fs-3">
                        Ingreso y gastos
                    </div>
                </div>
            </a>            
        </div>
        <div class="col">
            <a href="#" class="card btnMenu">
                <div class="w-100 h-100 row ps-3 d-flex align-items-center">
                    <img src="/imgs/icons/factura.png" alt="imagen" class="imgIcons">
                    <div class="col d-flex justify-content-center align-items-center fs-3">
                        Emisión de facturas
                    </div>
                </div>
            </a>            
        </div>
        <div class="col">
            <a href="#" class="card btnMenu">
                <div class="w-100 h-100 row ps-3 d-flex align-items-center">
                    <img src="/imgs/icons/GestionClientes.png" alt="imagen" class="imgIcons">
                    <div class="col d-flex justify-content-center align-items-center fs-3">
                        Gestion de clientes
                    </div>
                </div>
            </a>            
        </div>
        <div class="col">
            <a href="#" class="card btnMenu">
                <div class="w-100 h-100 row ps-3 d-flex align-items-center">
                    <img src="/imgs/icons/trabajadores.png" alt="imagen" class="imgIcons">
                    <div class="col d-flex justify-content-center align-items-center fs-3">
                        Trabajadores
                    </div>
                </div>
            </a>            
        </div>
        {{#compareUser user.username}}
        {{/compareUser}}
        <div class="col">
            <a href="/logout" class="card btnMenu">
                <div class="w-100 h-100 row ps-3 d-flex align-items-center">
                    <img src="/imgs/icons/cerrar.png" alt="imagen" class="imgIcons">
                    <div class="col d-flex justify-content-center align-items-center fs-3">
                        Cerrar sesión
                    </div>
                </div>
            </a>            
        </div>
    </div>
</div>