<div class="" style="height: 100vh;">
    <div class="d-flex flex-row justify-content-around mt-3">
        <a href="#" class="card col-3 text-center border-2 border-secondary shadow">
            <div class="card-body">
                <img src="" alt="">
                Agregar familia
            </div>
        </a>
        <a href="#" class="card col-3 text-center border-2 border-secondary shadow">
            <div class="card-body">
                <img src="" alt="">
                Agregar servicio
            </div>
        </a>
    </div>
    <div class="pt-5 px-5">
        <div class=""><u>Familia</u></div>
        <div class="">H</div>
    </div>
</div>