<link rel="stylesheet" href="/styles/StylesServices/services.css">
<div class="" style="height: 100vh;">
    <div class="d-flex flex-row justify-content-around mt-3">
        <a href="/services/addFamily" class="card col-3 text-center border-2 border-secondary shadow">
            <div class="card-body">
                <img src="" alt="">
                Agregar familia
            </div>
        </a>
        <a href="/services/addServices" class="card col-3 text-center border-2 border-secondary shadow">
            <div class="card-body">
                <img src="" alt="">
                Agregar servicio
            </div>
        </a>
    </div>
    <div class="pt-5 px-5">
        <div class=""><u>Familias</u></div>
        <div class="row g-4 mt-5">
            {{#if families}}
                {{#each families}}
                    <div class="col-3">
                        <a href='/services/servicesFamily/{{id}}' class="card cardsFamilies border border-2 border-secondary shadow d-flex align-items-center justify-content-center text-secondary">
                            {{familyName}}
                        </a>
                    </div>
                {{/each}}
                {{else}}
                    <div class="col-3">
                        <div class="card cardsFamilies border border-2 border-secondary shadow d-flex align-items-center justify-content-center text-secondary">
                            se debe de agregar familias
                        </div>
                    </div>
            {{/if}}
        </div>        
    </div>
</div>