<link rel="stylesheet" href="styles/stylesClients/clients.css">

<div class="d-flex justify-content-center" style="height: 100vh;">
    <div class="cardClients bg-white col m-5 px-4">
        <div class="d-flex flex-row justify-content-between">
            <div class="indClients">Clientes</div>
            <div class="">Nuevo Cliente</div>
        </div>
    </div>
</div>