<div class="d-flex flex-row align-items-center justify-content-around" style="height: 100vh">
    <a href="/billing/electronicBill" class="card bg-success btn">Emitir factura</a>
    <a href="#" class="card bg-info btn">Emitir boleta</a>
</div>