<link rel="stylesheet" href="styles/StylesBilling/billing.css">
<div class="p-4" style="height: 100vh">
    <div class="row d-flex flex-row align-items-center justify-content-around gy-3 h-100">
        <div class="col-9 col-md-6">
            <a href="/billing/electronicBill" class="card btn">
                <div class="card-body">
                    <img src="/imgs/icons/iconBoleta.svg" class="iconsBilling card-img">
                    <div class="card-text fs-4">Emitir boleta</div>
                </div>
            </a>
        </div>
        <div class="col-9 col-md-6">
            <a href="/billing/electronicBill" class="card btn">
                <div class="card-body">
                    <img src="/imgs/icons/iconMoney.svg" class="iconsBilling card-img">
                    <div class="card-text fs-4">Emitir factura</div>
                </div>
            </a>
        </div>
    </div>
</div>