{{#if addServices}}
<link rel="stylesheet" href="/styles/StylesServices/formAddFamily.css">
<div class="formAddFamily w-100 h-100 alert d-flex justify-content-center align-items-center" >
    <form action="/services/addServices" method="POST" class="card col-4"  enctype="multipart/form-data">
        <div class="d-flex justify-content-end">
            <button  data-bs-dismiss="alert" aria-label="close" class="btn-close m-1">
            </button>
        </div>
        <div class="card-body">
            <div class="card-img-top d-flex h-100 justify-content-center">
                <div class="rounded border border-3"  style="width: 300px; height: 300px;">
                    <label for="img" class="d-flex justify-content-center align-items-center text-secondary" id="labelImg" style="height: 100%;">Hacer click para seleccionar imagen</label>
                    <input type="file" name="img" id="img" class="d-none">
                </div>
            </div>
            <div class="row mt-2 p-2">
                <label for="serviceName" class="form-label col text-secondary">Nombre del servicio</label>
                <input type="text" id="serviceName" name="serviceName" class="form-control col" required>
            </div>
            <div class="row p-2">
                <label for="price" class="form-label col text-secondary">Precio</label>
                <input type="number" name="price" id="price" class="form-control col">
            </div>
            <div class="row p-2">
                <label class="form-label text-secondary col">Familia</label>
                <select class="form-select col ms-4 text-secondary" aria-label="Default select example" name="idFamily" id="idFamily">
                    {{#each addServices}}
                        <option value={{id}}>{{familyName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-success mx-auto">Guardar</button>
            </div>
        </div>
    </form>
</div>

<script>
    const inputImg = document.getElementById("img");
    const labelImg = document.getElementById("labelImg");
    inputImg.addEventListener("change", (e)=>{
        const image = inputImg.files[0];
        const objectUrlImage = URL.createObjectURL(image);
        labelImg.style = `height: 100%; background-image: url(${objectUrlImage});background-position: center; background-repeat: no-repeat;
    background-size: 100%; color: transparent !important;`
    });
</script>

{{/if}}