{{#if user}}
<div class="p-0">
    <input type="checkbox" name="checkbox-menu" id="checkbox-menu">
    <label for="checkbox-menu" id="icon-menu"><img src="/imgs/icons/listNav.svg" alt="menu" width="45px"></label>
    <nav class="colNav bg-white p-0 d-flex flex-column justify-content-center">
        <ul class="h-75 d-flex flex-column justify-content-around ulNav">
            <li>
                <a href="/home" id="iconNavHome">
                    <img src="/imgs/icons/home.svg" alt="iconHome" class="iconsNav">
                    Incio
                </a>
            </li>
            <li>
                <a href="/stock" id="iconNavStock">
                    <img src="/imgs/icons/styler.svg" alt="iconHome" class="iconsNav">
                    Gestion de inventario
                </a>
            </li>
            <li>
                <a href="/services" id="iconNavStock">
                    <img src="/imgs/icons/styler.svg" alt="iconHome" class="iconsNav">
                    Gestion de servicios
                </a>
            </li>
            {{#cashRegisterControl user.typeUser}}
            {{/cashRegisterControl}}

            {{#incomeAndExpense user.typeUser}}
            {{/incomeAndExpense}}

            {{#bills user.typeUser}}
            {{/bills}}
            <li>
                <img src="/imgs/icons/tune.svg" alt="iconHome" class="iconsNav">
                <a href="#">Gestión de clientes</a>
            </li>
            <li>
                <a href="/workers/allworkers" id="iconNavWorkers">
                    <img src="/imgs/icons/workers.svg" alt="iconHome" class="iconsNav">
                    Trabajadores
                </a>
            </li>
            <li>
                <img src="/imgs/icons/logout.svg" alt="iconHome" class="iconsNav">
                <a href="/logout">Cerras sesión</a>
            </li>
        </ul>
    </nav>
</div>
<script src="/scripts/hoverNav.js"></script>
{{/if}}