.cardFormSignIn{
    border-radius: 50px;
}
.ctnInputsSignIn > input{
    height: 50px;
    border-radius: 20px;
    border-color: rgba(185, 185, 185, 0.427);
}
.btnSignIn{
    width: 250px;
    height: 50px;
    background-color: #3186fa;
    color: white;
    border: solid 1px rgba(185, 185, 185, 0.427);
    border-radius: 25px;
    font-size: 22px;
    font-weight: 500;
}
.colImgSignIn{
    border-radius: 0 25px 25px 0;
    background-image: url("/imgs/images/mesa.jpg");
}