/*Estilos que se le agragar a la barra de busqueda por nombres*/
.ctnInpSearch{
    position: relative;
}
#searchByName{
    box-sizing: border-box;
    color: #191919;
    padding: 5px 15px 5px 35px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(203, 203, 203);
}
.iconSearch{
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}   
.btnCargaMasiva{
    background-color: #3186fa;
}
.btnCargaMasiva:hover{
    background-color: #2364c0;
}
.btnAddProduct{
    background-color: #22c488;
}
.btnAddProduct:hover{
    background-color: #138e61;
}
.textFilters{
    color: #686868;
    font-weight: bold;
}
.ctnFilters{
    margin-right: 100px;
}
.iconIncDec{
    color: #9b9b9b;
    font-size: 25px;
    font-weight: 900;
}
.ejemplo{
    display: inline;
    margin-left: -20px;
    margin-top: -8px;
    position: absolute;
}

/* Estilos para los inputs de filtros */
.filterInput{
    border-radius: 10px;
    border: 1px solid  #d7d7d7;
}
.filterInput:focus{
    outline: 1px solid #888888;
}
/* Estilo para el boton de descargar inventario */
.btnDownIn{
    background-color: #fd9800;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
/* Estilos para los nombres de las columnas del invetario */
.InvColName{
    background-color: #f1f1f1 !important;
}
.InvColNameS{
    background-color: #f1f1f1 !important;
    border-radius: 20px 0 0 20px;
}
.InvColNameE{
    background-color: #f1f1f1 !important;
    border-radius: 0 20px 20px 0;
}
/* estilos para cuando haya un minimo de stock en un fila */
.rowDec{
    background-color: rgba(170, 0, 0, 0.396);
}