<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estetica</title>
    {{!!--Boostrap 5!--}}
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    {{!!--Google fonts--}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    {{!!--styles css--}}
    <link rel="stylesheet" href="/styles/StylesAuth/styleCreateUser.css" type="text/css">
    <link rel="stylesheet" href="/styles/MainContainer.css" type="text/css">
    <link rel="stylesheet" href="/styles/stylesHome/Home.css" type="text/css">
    <link rel="stylesheet" href="/styles/stylesStock/stock.css" type="text/css">
    <link rel="stylesheet" href="/styles/stylesNav/nav.css">
</head>
<body class="mainContainer">
    {{> message}}
    {{> increaseProduct}}
    {{> decreaseProduct}}
    {{> addProduct}}
    {{> addServices}}
    {{> addFamily}}
    <div class="d-flex flex-row">
        {{> navigation}}
        <div class="col">
            {{{body}}}
        </div>
    </div>
</body>
</html>