<div class="container-fluid d-flex justify-content-center align-items-center cardCreateAccount">
    <form method="POST" action="/signin" class="card  col-md-4 col-9 p-3 shadow bg-body rounded">
        <div class="mb-3">
            <label for="username" class="form-label">*Email del usuario</label>
            <input type="email" class="form-control" id="username" placeholder="Email" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">*Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
        </div>
        <button class="btn btn-success">Enviar</button>
    </form>
</div>